version: "3.8"

networks:
  inception:
    driver: bridge

services:
  nginx:
    build: 
      context: ./requirements/nginx
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
    image: nginx
    container_name: nginx
    env_file:
      - ./.env
    ports:
      - "443:443"
    networks:
      - inception
    volumes:
      - wordpress_files:/var/www/html
    depends_on:
      - wordpress
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-k", "-f", "https://localhost"]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 10s

  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    env_file:
      - ./.env
    secrets:
      - db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 30s

  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    env_file:
      - ./.env
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password
    volumes:
      - wordpress_files:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "pidof php-fpm8.2 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 30s

volumes: 
  wordpress_files: 
    driver: local 
    driver_opts: 
      type: none 
      o: bind 
      device: /home/kagoh/data/wordpress
  
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/kagoh/data/mariadb

secrets:
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt