version: '3.8'

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    env_file:
      - ./.env
    image: nginx
    ports:
      - "443:443"
    env_file:
      - .env
    volumes:
      - wordpress_files:/var/www/html
    networks:
      - inception
    restart: always
    depends_on:
      - wordpress

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    env_file:
      - ./.env
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
    volumes:
      - wordpress_files:/var/www/html
    networks:
      - inception
    restart: always
    depends_on:
      - mariadb
  
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb
    env_file:
      - ./.env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception
    restart: always

volumes:
  wordpress_files:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/kagoh/data/wordpress
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/kagoh/data/mariadb

networks:
  inception:
    driver: bridge
